/* Profile and Showcase Styles */

/* Hero banner */
#showcase {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: var(--spacing-4xl);
    margin: -100px var(--spacing-3xl) 0 var(--spacing-3xl);
    background-image: none;
}

    #showcase section {
        background-color: var(--color-lightest);
        border-radius: var(--border-radius-md);
        box-shadow: var(--box-shadow-light);
        padding: var(--spacing-sm) var(--spacing-lg) var(--spacing-lg) var(--spacing-lg);
        position: relative;
    }

        #showcase section.image {
            max-height: contain;
            aspect-ratio: 1 / 1;
            background-image: url('/img/Profile.png');
            background-size: cover;
            padding: 0;
        }

            #showcase section.image #awardList {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 100%;
            }

.profileImage {
    display: none;
}

#profile {
    width: 100%;
}

#titles {
    text-align: center;
    padding: 0;
    list-style: none;
}

    #titles li {
        display: inline-block;
    }


/* Responsive Profile & Showcase */
@media(max-width: 1650px) {
    #showcase {
        grid-column-gap: 6rem;
    }

    .image {
        max-height: contain;
        aspect-ratio: 1 / 1;
        background-image: url('/img/Profile.png');
        background-size: cover;
    }

        .image #profile {
            display: none;
        }
}

@media(max-width: 1399px) {
    #showcase {
        display: inline;
    }

    .image {
        display: none;
    }

    .profileImage {
        display: block;
        max-width: 30rem;
        width: 100%;
        margin: 0 auto;
        border-radius: var(--border-radius-md);
    }
}
