/* _content/EricJohansson-SSR/Admin/Components/Checkbox.razor.rz.scp.css */
div[b-oagv4v481g] {
    margin-top: var(--controlTopMargin);
}
/* _content/EricJohansson-SSR/Admin/Components/DatePicker.razor.rz.scp.css */
div[b-90lf43i0vc] {
    margin-top: var(--controlTopMargin);
}
/* _content/EricJohansson-SSR/Admin/Components/MarkDownEditor.razor.rz.scp.css */
div[b-ouv2sg8xap] {
    margin-top: var(--controlTopMargin);
}

span.overflow[b-ouv2sg8xap] {
    color: #F00;
}
/* _content/EricJohansson-SSR/Admin/Components/TextBox.razor.rz.scp.css */
div[b-l5m98uxxzr] {
    margin-top: var(--controlTopMargin);
}
/* _content/EricJohansson-SSR/Admin/Layout/AdminLayout.razor.rz.scp.css */
#container[b-hkgn1eqn5i] {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr;
    height: 100vh;
    max-width: 100%;
    grid-template-areas:
        "menu topbar"
        "menu content"
        "menu footer";
}

#container > *[b-hkgn1eqn5i] {
    padding: 1rem;
}

#topbar[b-hkgn1eqn5i] {
    grid-area: topbar;
    background-color: lightblue;
    display: flex;
}

#menu[b-hkgn1eqn5i] {
    grid-area: menu;
    background-color: lightgreen;
    width: 12rem;
    /*Transition between open and collapsed */
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    transition: all 500ms ease;
}

#menu.collapsed[b-hkgn1eqn5i] {
    width: 3rem;
}

#body[b-hkgn1eqn5i] {
    grid-area: content;
    background-color: lightgray;
}

#footer[b-hkgn1eqn5i] {
    grid-area: footer;
    background-color: lightcoral;
}

#menuToggle[b-hkgn1eqn5i] {
    width: 45px;
    height: 45px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50%;
    border: 0;
}

#topbarLeft[b-hkgn1eqn5i] {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#topbarMiddle[b-hkgn1eqn5i] {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#topbarRight[b-hkgn1eqn5i] {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
/* _content/EricJohansson-SSR/Admin/Layout/Components/AdminMenu.razor.rz.scp.css */
ul[b-n8ylr213qr] {
    margin-left: 0;
    padding-left: 0;
}

li[b-n8ylr213qr] {
    list-style-type: none;
    padding: 10px;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
    height: 5rem;
    justify-items: center;
}
/* _content/EricJohansson-SSR/Admin/Layout/Components/AdminMenuItem.razor.rz.scp.css */
a[b-omhiebfqil] {
    display: flex;
}

i[b-omhiebfqil] {
    margin-right: .5rem;
}

a.selected[b-omhiebfqil] {
    color: white;
}
/* _content/EricJohansson-SSR/Admin/Pages/Post.razor.rz.scp.css */
.box[b-r2592omjxn] {
    margin-bottom: 1rem;
}

#actionBox[b-r2592omjxn] {
    padding-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr auto 1fr auto 1fr;
    grid-template-areas: 'xx save yy delete zz';
}

#saveBox[b-r2592omjxn] {
    grid-area: save;
}

#deleteBox[b-r2592omjxn] {
    grid-area: delete;
}
/* _content/EricJohansson-SSR/Admin/Pages/PostsList.razor.rz.scp.css */
.box[b-bongk7c2ob] {
    margin-bottom: 1rem;
}
/* _content/EricJohansson-SSR/Frontend/BaseComponents/Pager.razor.rz.scp.css */
.box[b-x3ryt56xo9] {
    margin: 1rem 5rem 0rem 5rem;
}

#prevLink[b-x3ryt56xo9] {
    float: left;
}

    #prevLink[b-x3ryt56xo9]:before {
        content: '\2329';
        margin-right: 5px;
    }

#nextLink[b-x3ryt56xo9] {
    float: right;
}

    #nextLink[b-x3ryt56xo9]:after {
        content: '\232a';
        margin-left: 5px;
    }

#postList[b-x3ryt56xo9] {
    margin: 1rem 5rem 0rem 5rem;
}
/* _content/EricJohansson-SSR/Frontend/Components/Blog/FullPost.razor.rz.scp.css */
#blogPost[b-k5vks3zu4c] {
    margin: 1rem 5rem 0rem 5rem;
}

#prevLink[b-k5vks3zu4c] {
    float: left;
}

    #prevLink[b-k5vks3zu4c]:before {
        content: '\2329';
        margin-right: 5px;
    }

#nextLink[b-k5vks3zu4c] {
    float: right;
}

    #nextLink[b-k5vks3zu4c]:after {
        content: '\232a';
        margin-left: 5px;
    }
/* _content/EricJohansson-SSR/Frontend/Components/Blog/SmallPost.razor.rz.scp.css */
.readMore[b-ccjibdgvny] {
    margin-top: 1.5rem;
    margin-bottom: 0;
    float: right;
}
/* _content/EricJohansson-SSR/Frontend/Layout/MainLayout.razor.rz.scp.css */
.page[b-xq76v1hbmf] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-xq76v1hbmf] {
    flex: 1;
}

.sidebar[b-xq76v1hbmf] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-xq76v1hbmf] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-xq76v1hbmf] a, .top-row[b-xq76v1hbmf] .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

        .top-row[b-xq76v1hbmf] a:hover, .top-row[b-xq76v1hbmf] .btn-link:hover {
            text-decoration: underline;
        }

        .top-row[b-xq76v1hbmf] a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

@media (max-width: 640.98px) {
    .top-row[b-xq76v1hbmf] {
        justify-content: space-between;
    }

        .top-row[b-xq76v1hbmf] a, .top-row[b-xq76v1hbmf] .btn-link {
            margin-left: 0;
        }
}

@media (min-width: 641px) {
    .page[b-xq76v1hbmf] {
        flex-direction: row;
    }

    .sidebar[b-xq76v1hbmf] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-xq76v1hbmf] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-xq76v1hbmf] a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-xq76v1hbmf], article[b-xq76v1hbmf] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui[b-xq76v1hbmf] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss[b-xq76v1hbmf] {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}
/* _content/EricJohansson-SSR/Frontend/Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-wna68vnhfv] {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

.navbar-toggler:checked[b-wna68vnhfv] {
    background-color: rgba(255, 255, 255, 0.5);
}

.top-row[b-wna68vnhfv] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-wna68vnhfv] {
    font-size: 1.1rem;
}

.bi[b-wna68vnhfv] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu[b-wna68vnhfv] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu[b-wna68vnhfv] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu[b-wna68vnhfv] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.nav-item[b-wna68vnhfv] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.nav-item:first-of-type[b-wna68vnhfv] {
    padding-top: 1rem;
}

.nav-item:last-of-type[b-wna68vnhfv] {
    padding-bottom: 1rem;
}

.nav-item[b-wna68vnhfv] .nav-link {
    color: #d7d7d7;
    background: none;
    border: none;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
    width: 100%;
}

.nav-item[b-wna68vnhfv] a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-wna68vnhfv] .nav-link:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.nav-scrollable[b-wna68vnhfv] {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable[b-wna68vnhfv] {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler[b-wna68vnhfv] {
        display: none;
    }

    .nav-scrollable[b-wna68vnhfv] {
        /* Never collapse the sidebar for wide screens */
        display: block;
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* _content/EricJohansson-SSR/Frontend/Pages/Blog/PostList.razor.rz.scp.css */
.box[b-iwpoi9qpx5] {
    margin: 1rem 5rem 0rem 5rem;
}

#prevLink[b-iwpoi9qpx5] {
    float: left;
}

    #prevLink[b-iwpoi9qpx5]:before {
        content: '\2329';
        margin-right: 5px;
    }

#nextLink[b-iwpoi9qpx5] {
    float: right;
}

    #nextLink[b-iwpoi9qpx5]:after {
        content: '\232a';
        margin-left: 5px;
    }

#postList[b-iwpoi9qpx5] {
    margin: 1rem 5rem 0rem 5rem;
}
/* _content/EricJohansson-SSR/Frontend/Pages/Home.razor.rz.scp.css */
#postGrid[b-5mlue2vy44] {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    margin-top: 100px;
    margin-right: 10rem;
    margin-left: 10rem;
}
